        /* NavBar */
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        html,
        body,
        div {
            margin: 0;
            padding: 0;
            border: 0;
        
        }
        
        #top {
            padding-top: 100;
            margin: auto;
            width: 80%;
            height: 70px;
            display: grid;
            grid-template-columns: 1.5fr 4fr;
            gap: 30%
        }
        
        #top>div>img {
            width: 90%;
            height: 50%;
            margin: 5%;
        }
        
        #leftDiv {
            display: flex;
            gap: 10px;
        }
        
        #leftDiv>div {
            display: flex;
            gap: 10px;
            /* margin-top: 7px; */
        }
        
        #leftDiv>div>a>img {
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }
        
        #leftDiv>div>img {
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }
        
        a {
            text-decoration: none;
        }
        
        #bottom {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            height: auto;
            font-weight: bold;
            background-color: #0072bf;
        }
        
        #bottom>div {
            text-align: center;
            padding: 1%;
        }
        
        #bottom>div>a {
            color: white;
        }
        
        #bottom>div:hover {
            background-color: #00548f;
        }
        
        #bottom2 {
            display: flex;
            justify-content: center;
            height: auto;
            background-color: #00548f;
        }
        
        #bottom2>div>a {
            text-decoration: none;
            color: white;
        }
        
        #bottom2>div {
            padding: 1%;
            color: white;
        }

        /* body */
        #container{
            width: 50%;
            border: 1px solid red;
            margin: auto;
        }
        #container>h2{
            color: #00548f;
        }
        #inputExercise{
            width: 70%;
            padding: 2%;
        }
        button{
            background-color: #51a351;
            width: auto;
            padding: 2%;
            border-radius: 10px;
            border: 0.7px solid black;
            color: white;
        }
        h3{
            color: #444444;
        }
        #searchedDataDiv{
            width: 50%;
            border: 1px solid #444444;
            height: 200px;
            overflow-y: scroll;
        }
        #bottomData{
            display: flex;
        }
        .inputEx{
            height: 30px;
            width: 40px;
        }
        #addedDataDiv{
            text-align: center;
            margin-left: 50px;
        }