* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;

}

#top {
    padding-top: 100;
    margin: auto;
    width: 80%;
    height: 70px;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 30%
}

#top>div>img {
    width: 90%;
    height: 50%;
    margin: 5%;
}

#leftDiv {
    display: flex;
    gap: 10px;
}

#leftDiv>div {
    display: flex;
    gap: 10px;
    /* margin-top: 7px; */
}

#leftDiv>div>a>img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

#leftDiv>div>img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: auto;
    font-weight: bold;
    background-color: #0072bf;
}

#bottom>div {
    text-align: center;
    padding: 1%;
}

#bottom>div>a {
    color: white;
}

#bottom>div:hover {
    background-color: #00548f;
}

#bottom2 {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #00548f;
}

#bottom2>div>a {
    text-decoration: none;
    color: white;
}

#bottom2>div {
    padding: 1%;
    color: white;
}

#friend-head{
    width: 60%;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: Arial,sans-serif;
    color: #0a5282;
    /* margin-bottom: 20px; */
    /* justify-items: center; */
}
#email-btn{
    background-color:#0072BF ;
    border: none;
    color: white;
    padding: 10px  23px;
    margin-top: 10px; 
    border-radius: 5px;
}
#line-1{
    width: 61%;
    height: 2px;
    margin: auto;
    margin-top: -18px;
    background-color: #F0F2F4;

}
#friend-con{
    width:55%;
    margin: auto;
    /* border: 1px solid red ; */
    text-align: center;
    font-family : Arial,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
#friend-con a{
    color: #0d649e;
}
#friend-con a:hover{
    color: #dfbf2e;
}
#line-2{
    width: 61%;
    height: 2px;
    margin: auto;
    /* margin-top: -18px; */
    background-color: #F0F2F4;

}
  
#footer{
display: grid;
width: 100%;
grid-template-columns: 3fr 1fr;
/* height: 300px; */
margin-top: 50px;
/* border: 1px solid red ; */
background-color: #F0F2F4;
padding: 4px;
}
#footer-content{
width: 82%;
margin: auto;

/* padding: 4px; */
margin-top: 25px;
margin-right: 2px;
height: 100px;
/* border: 1px solid rgb(0, 0, 0) ; */

}
#footer-content a{
font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
/* background-color: #F0F2F4; */
text-decoration: none;
font-size: 12px;
padding: 3px;
}
#footer-content a:hover{
color:  rgb(88, 88, 222);
}
#footer-content p{
text-align: center;
font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
font-size: 11px;
line-height: 30px;
}
#select-box{
width: 40%;
/* border: 1px solid orange; */

margin: auto;
margin-top: 30px;
margin-right: 4px;
}
